{# Template de Base // lang = {{ app.request.locale }} #}
<!DOCTYPE html>
<html lang="fr">
<title>{% block seo_title %} - Solution alternative {% endblock seo_title %}</title>
{# Block Header (Méta, css, etc) #}
{% block header %}

    {% embed "include/header.html.twig" %}{% endembed %}

{% endblock header %}

<body class="{% block body_class %}{% endblock %}">

{# Navigation Globale #}
{% block navigation %}

    <header>

        {% embed "include/navigation.html.twig" %}{% endembed %}

    </header>

{% endblock navigation %}

<main>
    {# Fil d'ariane #}
    {% block fil_ariane %}

        {% embed "include/fil-ariane.html.twig" %}{% endembed %}

    {% endblock fil_ariane %}
{{ dump() }}
    {# Corps du document #}
    {% if is_granted('ROLE_ADMIN') %}
        Bonjour user {{ app.user.username }} vous êtes admin.<br>
        Votre dernière connexion remonte à {{ app.user.lastLogin|date }}
    {% endif %}

    {% if users is defined %}
        <ul>
            {% for user in users  %}
                <li>{{ user.username }} - {{ user.email }}</li>

            {% endfor %}
        </ul>
    {% endif %}



    <div id="app">
    {% block content %}

        <div class="text-center">
            <h3>Solution alternative !</h3>

            <div class="jumbotron text-center">
                <example></example>
            </div>
        </div>

    {% endblock content %}
    </div>

</main>

{# Pied de page #}
<footer>

    {% block footer %}

        {% embed "include/footer.html.twig" %}{% endembed %}

    {% endblock footer %}

</footer>

{# Javascripts #}
{% block javascripts %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>

{% endblock javascripts %}

</body>

</html>
